networkx==2.6.3
wordcloud==1.8.1
fa2==0.3.5
powerlaw==1.4.6
labMTsimple==2.8.7
vaderSentiment==3.3.2
vaderSentiment==3.3.2
imdbpy==2021.4.18
imdbpy==2021.4.18
fuzzywuzzy==0.18.0
fuzzywuzzy==0.18.0
SPARQLWrapper==1.8.5